<!-- Hiển thị danh sách sản phẩm trong giỏ hàng -->
<div class="cart-container">
  <p class="product-name">{{ product.name }}</p>
  <p class="product-description">{{ product.description }}</p>
  <p class="product-quantity">Số lượng: {{ product.inStock }}</p>
  <p class="product-price">Giá: {{ product.price }}đ</p>
  <button (click)="authService.removeFromCart(product.id)">Xóa</button>
</div>
<div class="total-container">
  <p class="cost">Tổng tiền: {{ authService.getTotalPrice() }}đ</p>
</div>

<!--&lt;!&ndash; Hiển thị thông báo giỏ hàng trống &ndash;&gt;-->
<!--<div class="empty-cart-message">-->
<!--  <p>Giỏ hàng của bạn đang trống.</p>-->
<!--</div>-->
